@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color:  #28282B ;
    color: white;
    height: 100px;
}

.column {
    float: right;
    padding: 10px;
}

/* Cột bên phải */
.column.right {
    width: 25%;
}

/* Cột bên trái */
.column.left {
    width: 25%;
}

/* Cột chính giữa */
.column.middle {
    width: 50%;
}

/* Clear float khác sau các cột */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}

.clock {

    position: relative;
    margin: 0 auto;

    /* Size should match the parent container */
    width: 300px;
    height: 100px;
    background-color:  #28282b;
    border: 2px solid white;

    /* Keep the label aligned to the top */
    top: 0;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sort of an arbitrary number; adjust to your liking */
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    color: red;
}

.short-clock {
    position: relative;
    margin: 10px auto;

    width: 100px;
    height: 100px;
    background-color:  #28282B ;
    border: 2px solid white;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sort of an arbitrary number; adjust to your liking */
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    color: red;
}

.time-start {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 100px;
}

.time-stop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 100px;
}

.time-reset {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 100px;
}

.possesion {
    display: flex;
    justify-content: center;
}

.pos {
    margin-right: 150px;
    margin-left: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.add-time-btn {
    position: relative;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.minus-time-btn {
    position: relative;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.add-atk-time {
    position: relative;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.home-pos-btn {
    background-color: white;
    width: 100px;
}

.away-pos-btn {
    background-color: white;
    width: 100px;
}



/* CSS */
.button-1 {
  background-color: #036ffc;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px auto;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover{
  background-color: #039ffc;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #ffa500;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #ff5733;
}

.button-3:focus {
  box-shadow: rgb(255,87,51) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #FF9033;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-4 {
    appearance: none;
    background-color: #ffa500;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 5px;
    padding-left: 5px;
    width: 70px;
    height: 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-4:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-4:hover {
    background-color: #ff5733;
  }
  
  .button-4:focus {
    box-shadow: rgb(255,87,51) 0 0 0 3px;
    outline: none;
  }
  
  .button-4:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-4:active {
    background-color: #FF9033;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  .button-4-1 {
    appearance: none;
    background-color: #ffa500;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 25px;
    padding-left: 5px;
    width: 70px;
    height: 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-4-1:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-4-1:hover {
    background-color: #ff5733;
  }
  
  .button-4-1:focus {
    box-shadow: rgb(255,87,51) 0 0 0 3px;
    outline: none;
  }
  
  .button-4-1:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-4-1:active {
    background-color: #FF9033;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  


.home-score {
    position: relative;

    /* Size should match the parent container */
    width: 300px;
    height: 300px;
    background-color:  #28282B;
    border: 2px solid white;

    margin-top: 10px;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Orbitron', sans-serif;
    font-size: 150px;
    color: red;
}

.add-hscore-btn {
    margin-top: 10px;
}

.minus-hscore-btn {
    margin-top: 10px;
}

.add-ascore-btn {
    float: inherit;
    margin-top: 10px;
}

.minus-ascore-btn {
    float: inherit;
    margin-top: 10px;
}

.away-score {
    position: relative;
    margin-top: 10px;
    float: right;

    /* Size should match the parent container */
    width: 300px;
    height: 300px;
    background-color:  #28282B;
    border: 2px solid white;


    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Orbitron', sans-serif;
    font-size: 150px;
    color: red;
}

.home-fouls-btn {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.home-timeout-btn {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;    
}

.away-fouls-btn {
    display: flex;
    float: right;
    align-items: center;
    padding-left: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.away-timeout-btn {
    display: flex;
    float: right;
    align-items: center;
    padding-left: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}



.minus-fouls {
    margin-left: 10px;
    padding-left: 10px;
    width: 50px;
}

.add-timeout {
    margin-left: 10px;
    padding-left: 10px;
    width: 50px;
}

.minus-timeout {
    margin-left: 10px;
    padding-left: 10px;
    width: 50px;
}

.htimeout {
    position: relative;
    display: flex;
    padding-left: 30px;

    width: 300px;
    height: 50px;

    background-color: gray;
    color: white;

    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
}

.atimeout {
    position: relative;
    display: flex;
    float: right;
    padding-left: 30px;

    width: 300px;
    height: 50px;

    background-color: gray;
    color: white;

    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
}



.hfouls {
    position: relative;
    display: flex;
    padding-left: 30px;

    width: 300px;
    height: 50px;

    background-color: gray;
    color: white;

    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
}

.afouls {
    position: relative;
    display: flex;
    float: inherit;
    padding-left: 30px;

    width: 300px;
    height: 50px;

    background-color: gray;
    color: white;

    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
}

.home-bonus {
    padding-left: 100px;
}

.away-bonus {
    padding-left: 100px;
}

.reset-score-btn {
    width: 100px;
    height: 25px;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.footer-basic {
    padding:40px 0;
    background-color: #28282B;
    color:white;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:50px;
    height:50px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:5px solid white;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
