@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.column {
    float: right;
    padding: 10px;
}

/* Cột bên phải */
.column.right {
    width: 25%;
}

/* Cột bên trái */
.column.left {
    width: 25%;
}

/* Cột chính giữa */
.column.middle {
    width: 50%;
}

/* Clear float khác sau các cột */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}

.clock {

    position: relative;
    margin: 0 auto;

    /* Size should match the parent container */
    width: 300px;
    height: 100px;
    background-color: black;

    /* Keep the label aligned to the top */
    top: 0;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sort of an arbitrary number; adjust to your liking */
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    color: red;
}

.short-clock {
    position: relative;
    margin: 10px auto;

    width: 100px;
    height: 100px;
    background-color: black;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sort of an arbitrary number; adjust to your liking */
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    color: red;
}

.time-start {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 100px;
}

.time-stop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 100px;
}

.time-reset {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 100px;
}

.possesion {
    display: flex;
    justify-content: center;
}

.pos {
    margin-right: 150px;
    margin-left: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.add-time-btn {
    position: relative;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.minus-time-btn {
    position: relative;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.add-atk-time {
    position: relative;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.home-pos-btn {
    display: block;
    background-color: white;
    width: 100px;
}

.away-pos-btn {
    display: block;
    background-color: white;
    width: 100px;
}

.home-score {
    position: relative;

    /* Size should match the parent container */
    width: 300px;
    height: 300px;
    background-color: black;
    border: 2px solid white;

    margin-top: 10px;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Orbitron', sans-serif;
    font-size: 150px;
    color: red;
}

.add-hscore-btn {
    margin-top: 10px;
}

.minus-hscore-btn {
    margin-top: 10px;
}

.add-ascore-btn {
    float: inherit;
    margin-top: 10px;
}

.minus-ascore-btn {
    float: inherit;
    margin-top: 10px;
}

.add-btn {
    padding: 10px;
}

.away-score {
    position: relative;
    margin-top: 10px;
    float: right;

    /* Size should match the parent container */
    width: 300px;
    height: 300px;
    background-color: black;
    border: 2px solid white;


    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Orbitron', sans-serif;
    font-size: 150px;
    color: red;
}

.home-fouls-btn {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.home-timeout-btn {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.away-fouls-btn {
    display: flex;
    float: right;
    align-items: center;
    padding-left: 10px;
}

.away-timeout-btn {
    float: right;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.add-fouls {
    margin-left: 30px;
    padding-left: 10px;
    width: 50px;
}

.minus-fouls {
    margin-left: 10px;
    padding-left: 10px;
    width: 50px;
}

.add-timeout {
    margin-left: 10px;
    padding-left: 10px;
    width: 50px;
}

.minus-timeout {
    margin-left: 10px;
    padding-left: 10px;
    width: 50px;
}

.htimeout {
    position: relative;
    display: flex;
    padding-left: 30px;

    width: 300px;
    height: 50px;

    background-color: gray;
    color: white;

    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
}

.atimeout {
    position: relative;
    display: flex;
    float: right;
    padding-left: 30px;

    width: 300px;
    height: 50px;

    background-color: gray;
    color: white;

    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
}



.hfouls {
    position: relative;
    display: flex;
    padding-left: 30px;

    width: 300px;
    height: 50px;

    background-color: gray;
    color: white;

    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
}

.afouls {
    position: relative;
    display: flex;
    float: inherit;
    padding-left: 30px;

    width: 300px;
    height: 50px;

    background-color: gray;
    color: white;

    font-family:  'Fjalla One', sans-serif;
    font-size: 20px;
}

.home-bonus {
    padding-left: 100px;
}

.away-bonus {
    padding-left: 100px;
}

.reset-score-btn {
    width: 100px;
    height: 25px;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.gg-arrow-left-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 4px
}
.gg-arrow-left-r::after,
.gg-arrow-left-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 4px
}
.gg-arrow-left-r::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 6px
}
.gg-arrow-left-r::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: red;
}
